<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Generate Certificate</title>
    <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body style=" color: #ffffff; padding-top: 100px;"  >

    <div class="text text-center">
      <div class="container" style="text-align: center; border: 5px dashed; width: 1000px;height: 600px; padding-top: 80px;text-align: center">
        <p style="font-family: 'Saira Semi Condensed', sans-serif; color: #292f3a; font-size: 70px;"><b>Certificate of PUR</b></p>
        <p style="font-family: 'Archivo Narrow', sans-serif; font-size: 50px; color: #292f3a"><i>This is to certify that</i></p>
        <p style="font-family: 'Archivo Narrow', sans-serif; font-size: 40px;color: #292f3a">1067-76CY-22322</p>
        <p style="font-family: 'Archivo Narrow', sans-serif; font-size: 50px; color: #292f3a"><i>Is registered under the PUR with a PUR number of </i></p>
        <p style="font-family: 'Archivo Narrow', sans-serif;font-size: 40px; color: #292f3a">9e25125705b5fd9bbf5a354bd378fd885e460c68</p>
        <!-- <img src="http://wealthreach.com/approved.png" style="padding-bottom: 30px; height: 30px; width: 100px;" alt=""> -->
        <br>
      </div>
    </div>
    <br>
    <br>
  </body>
</html>
